
body {
  /*background: url(background.jpg) no-repeat center center fixed;*/
  background: #e6e6e6;
}

.search {
  background: #444;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid #28353d;
}

.search input {
  color: #768a95;
}

.search button {
  color: #28353d;
  border-left: #28353d;
}

.search button:hover {
  background: #e6e6e6;
  color: #444;
}

.search button:active {
  box-shadow: 0px 0px 12px 0px #e1e1e1;
}

div.container{
    color: #28353d;
    border: 1px solid #28353d;
}

/*table {
  color: #28353d;
}

td, th {
  border: 1px solid #28353d;
}*/

/*switch styles*/

label {
    color: #28353d;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner{
    background: #cfcfcf;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:after{
    background: #e6e6e6;
    box-shadow: 0px 0px 6px -2px #111;
}

.btn-color-mode-switch > .alert{
    background: #FF9800;
    color: #fff;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner{
    background: #151515;
    color: #fff;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:after{
    background: #3c3c3c;
}

/*mode preview*/
.dark-preview{
    background: #0d0d0d;
}

.dark-preview div.btn-container i.fa-sun-o{
    color: #777;
}

.dark-preview div.btn-container i.fa-moon-o{
    color: #fff;
    text-shadow: 0px 0px 11px #fff;
}

.white-preview{
    background: #fff;
}

.white-preview div.btn-container i.fa-sun-o{
    color: #ffa500;
    text-shadow: 0px 0px 16px #ffa500;
}

.white-preview div.btn-container i.fa-moon-o{
    color: #777;
}

p.by a{
    text-decoration: none;
    color: #000;
}

.dark-preview p.by a{
    color: #777;
}

.white-preview p.by a{
    color: #000;
}